# Ignore Gradle project-specific cache directory
.gradle
.project

# Ignore Gradle build output directory
build

# Ignore Eclipse-specific files
.classpath
.settings
bin

# Ignore VSCode settings
.vscode
*.DS_Store

# Ignore IntelliJ settings
.idea