# Ignore Gradle project-specific cache directory
.gradle
.project

# Ignore Gradle build output directory
build

#Ignore Eclipse-specific files
.classpath
.project
.settings
bin

#Ignore VSCode settings
.vscode
*.DS_Store